@import "reset";


html, body {
  font-size: 10px;
  height: 100%;
}
body {
  background-color: lightgrey;
  display: flex;
}

.app-container {
/*  display: flex;
  flex-wrap: wrap;*/
  height: 100%;
  width: 100%;
}

.main-container {
  height: 100%;
}

@import "app/layout/landing";
@import "app/sign_in/sign_in";
@import "app/sign_up/sign_up";
