@import "reset";


html, body {
  font-size: 10px;
  height: 100%;
}
body {
  background-color: lightgrey;
  display: flex;
}

/*.right {
  width: 50%;
  height: 100%;
  position: fixed;
  background-color: #2fbcf7;
  right: 0;
  top: 0;
}*/

/*.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.target-example {
  width: 31.86458333333342rem;
  height: 65.2864583333335
  margin: auto;
  order: 1;
}

.target-example::after {
  content: '';
  width: 100%;
}

.facebook-twitter {
  display: flex;
  justify-content: center;
  align-content: space-around;
  order: 3;
}

.app-store-logo {
  margin: auto;
  order: 2;
}

.facebook-logo {
  margin-left: 1em;
}

.twitter-logo {
  margin-right: 1em;
}
*/

.app-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.left {
  width: 50%;
  background-color: white;
  text-align: center;
}

.right {
  background-color: #2fbcf7;
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  right: 0;
  overflow: scroll;
  overflow: overlay;
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.target-example {
  /*background: url("/assets/images/i-6@3x.png") center center no-repeat;
  background-size: contain;*/
  text-align: center;
}

.target-example-photo {
  width: 48%;
  min-width: 320px;
  max-height: 800px;
}

.app-store {
 /* background: url("/assets/images/group-25@3x.png") center center no-repeat;
  background-size: contain;*/
  flex-grow: 2;
  text-align: center;
  vertical-align: middle;
  max-height: 51px;
}

.app-store-logo {
  width: 18%;
  text-align: center;
  min-width: 118.5px;
}

.facebook-twitter {
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.twitter { text-align: start; }

.twitter-logo { margin-left: 1rem; }

.facebook { text-align: end; }

.facebook-logo { margin-right: 1rem; }

.bottom-logo {
  padding-top: 1rem;
  width: 4%;
  max-height: 45px;
  min-width: 25px;
}

@media screen and (max-width: 840px) {
  .right {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
  }

  .left {
    width: 100%;
  }
}

@import "app/sign_in/sign_in";
@import "app/sign_up/sign_up";
